@use "abstracts/variables" as *;

.not-found {
  text-align: center;
  padding: $spacing-xbig $spacing-medium;

  &__title {
    font-family: $font-family-display;
    font-weight: $font-weight-normal;
    font-size: $font-size-display-lg;
  }

  &__output {
    font-family: $font-family-mono;
    font-size: $font-size-default;
    color: $color-text-muted;
    margin-bottom: $spacing-big;
    overflow-wrap: anywhere;
  }
}
