@use "abstracts/variables" as *;

.presentation-section {
  &__blurb {
    font-size: $font-size-small;
    color: $color-text-dark;
    text-align: center;
    margin-bottom: $spacing-medium;
  }

  &__actions {
    margin-top: $spacing-medium;

    ::ng-deep .app-button {
      display: block;
      width: 100%;
      margin-left: 0;
      justify-content: center;
    }
  }
}
