@use "abstracts/variables" as *;

.footer {
  text-align: center;
  padding: 0 2rem 3.2rem;
  max-width: 96rem;
  margin: 0 auto;

  color: $color-text-muted;

  .gn-webring {
    margin-bottom: $spacing-big;
  }

  &__heart {
    color: $peach-600;
  }

  &__author {
    color: $teal-600;
    font-weight: $font-weight-bold;
  }

  &__copyright {
    font-size: $font-size-small;
    margin-bottom: 0.4rem;
  }

  &__theme-credit {
    font-family: $font-family-mono;
    font-size: $font-size-xsmall;
    color: $color-text-faint;
  }

  &__link {
    color: $color-external-link-dark;
    text-decoration: none;

    &:hover {
      color: $color-link-hover;
    }
  }
}
